# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea
OLC/flight/.~lock.flights.csv#
OLC/flight/flight/__init__.pyc
OLC/flight/flight/items.pyc
OLC/flight/flight/settings.pyc
OLC/flight/flight/spiders/__init__.pyc
OLC/flight/flight/spiders/flight_spyder.pyc
forecast/grid.kml
forecast/kawo_forecast.csv
forecast/nws_precip_ak_20160116.nc
forecast/nws_precip_conus_20160116.nc
forecast/nws_precip_pr_20160116.nc
grid.kml
kawo_forecast.csv
nws_precip_ak_20160116.nc
nws_precip_conus_20160116.nc
nws_precip_pr_20160116.nc
/forecast/hrrr.t22z.wrfprsf00.grib2
/analysis/SRTM/
.idea/misc.xml
analysis/SRTM/
forecast/*.grb2
analysis/*.grb2
analysis/.*
/analysis/.ipynb_checkpoints/
/forecast/*.nc
